header {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: grey;

}

.topnav a{
    float: left;
    display: block;
    color: aliceblue;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    background-color: grey;
    color: black;
}

.container{
    margin-top: 7%;
    margin-bottom: 7%;
}
.footer {
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    padding: 34px;
}